<!doctype html>
<html>

  <head>
    <title>Calculadora de Tinta</title>
  </head>

  <body>
    <h1>Calculadora de Tinta</h1>

    <main>
      <form id="walls-dimensions-form">
        <% [...Array(walls_qty).keys()].forEach((wallID) => { %>
          <fieldset id=<%= `fs-${wallID + 1}` %>>
            <legend>Parede <%= `${wallID + 1}` %></legend>
            <label>
              Altura
              <input type="number" min="1" max="15" step="0.1" id=<%= `height-${wallID + 1}` %>>
            </label>
    
            <label>
              Largura
              <input type="number" min="1" max="15" step="0.1" id=<%= `width-${wallID + 1}` %>>
            </label>
    
            <label>
              Janelas
              <select id=<%= `windows-${wallID + 1}` %>>
                <option value="0">0</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
              </select>
            </label>
    
            <label>
              Portas
              <select id=<%= `doors-${wallID + 1}` %>>
                <option value="0">0</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
              </select>
            </label>
          </fieldset>
        <% }) %>

        <button type="submit" id="walls-dimensions-button">Confirmar</button>
      </form>
    </main>

    <script>
      const wallsDimensionsForm = document.querySelector('#walls-dimensions-form');

      const handleSubmit = (event) => {
        event.preventDefault();
        const wallAHeight = document.querySelector('#height-a').value;
        const wallAWidth = document.querySelector('#width-a').value;
        const wallBHeight = document.querySelector('#height-b').value;
        const wallBWidth = document.querySelector('#width-b').value;
        const wallCHeight = document.querySelector('#height-c').value;
        const wallCWidth = document.querySelector('#width-c').value;
        const wallDHeight = document.querySelector('#height-d').value;
        const wallDWidth = document.querySelector('#width-d').value;
        console.log(
          wallAHeight, wallAWidth,
          wallBHeight, wallBWidth,
          wallCHeight, wallCWidth,
          wallDHeight, wallDWidth
        );
      };

      wallsDimensionsForm.addEventListener('submit', handleSubmit);
    </script>
  </body>

</html>