<!doctype html>
<html>

  <head>
    <title>Calculadora de Tinta</title>
  </head>

  <body>
    <h1>Calculadora de Tinta</h1>

    <main>
      <form id="walls-dimensions-form">
        <% [...Array(walls_qty).keys()].forEach((wallIndex) => { %>
          <fieldset class="wall-fieldset">
            <legend>Parede <%= `${wallIndex + 1}` %></legend>
            <label>
              Altura
              <input type="number" min="1" max="15" step="0.1" id=<%= `height-${wallIndex}` %>>
            </label>
    
            <label>
              Largura
              <input type="number" min="1" max="15" step="0.1" id=<%= `width-${wallIndex}` %>>
            </label>
    
            <label>
              Janelas
              <select id=<%= `windows-${wallIndex}` %>>
                <option value="0">0</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
              </select>
            </label>
    
            <label>
              Portas
              <select id=<%= `doors-${wallIndex}` %>>
                <option value="0">0</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
              </select>
            </label>
          </fieldset>
        <% }) %>

        <button type="submit" id="walls-dimensions-button">Confirmar</button>
      </form>
    </main>

    <script>
      const wallsDimensionsForm = document.querySelector('#walls-dimensions-form');
      const wallsFieldsets = document.querySelectorAll('.wall-fieldset');

      const getWallsValues = (wallsElements) => {
        const wallsObj = {};
        wallsElements.forEach((wall, currentIndex) => {
          const heightValue = wall.querySelector(`#height-${currentIndex}`).value;
          const widthValue = wall.querySelector(`#width-${currentIndex}`).value;
          const windowsValue = wall.querySelector(`#windows-${currentIndex}`).value;
          const doorsValue = wall.querySelector(`#doors-${currentIndex}`).value;
          wallsObj[`wall${currentIndex}`] = [heightValue, widthValue, windowsValue, doorsValue];
        });
        console.log(wallsObj);
      };

      const handleSubmit = (event) => {
        event.preventDefault();
        return getWallsValues(wallsFieldsets);
      };

      wallsDimensionsForm.addEventListener('submit', handleSubmit);
    </script>
  </body>

</html>